.cart-weekday-title {
  background-color: rgb(42, 143, 136);
  padding: 10px;
}

div.cart-day {
  display: contents;
}

.cart-time {
  display: flex;
  border-radius: 10px;
  margin: 10px;
  margin-right: 10px;
  
}

div.cart-break {
  flex-basis: 100%;
  height: 0px;
}


div.cart-weekday-title {
  margin: 15px;
  flex-basis: 100%;
}