<div>

</div>
<div class="cart-sheet">
    <div>
      <div class="cart-weekday-title">Новая группа</div>
      <div class="cart-weekday-cards">
        <app-cart-groups-new></app-cart-groups-new>
      </div>
    </div>

    <div class="cart-day" *ngFor="let day of scheduleWeek">
    <table>
        <tr>
            <th class="cart-weekday-title">{{weekdays[day]}}</th>
        </tr>
        <tr class="cart-time" *ngFor=" let time of getScheduleDayTime(day) ">
            <td>
                <div class="cart-day">
                    <div class="cart-group" *ngFor="let schedule of getSchedule(day, time)">
                        <app-cart-groups [schedule]="schedule"></app-cart-groups>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    </div>  

    <div class="cart-button-panel">
        <button mat-button (click)="onSend()">Отправить</button>
        <button mat-button (click)="onClickStore()">Сохранить</button>
    </div>
</div>
