<div class="cart-shift">
    <div class="cart-shift-title">{{schedule.cart}}</div>
    <div class="cart-shift-haeder"><div>{{schedule.getDate()}}</div><div>{{schedule.getWeekday()}}</div></div>
    <div class="cart-shift-haeder">
        <div>{{schedule.time}}</div>
        <div>
            <input type="checkbox" [(ngModel)]="schedule.print" />
        </div>
    </div>
    <table class="cart-shift-table">
        <thead>
            <tr><th>#</th><th>Возвещатель</th></tr>
        </thead>
        <tbody>
            <tr><td>1.</td><td>
                <select id="cart-groups-new-weekday" [(ngModel)]="schedule.witn[0]">
                    <option></option>
                    <option *ngFor="let witn of witnesses" value={{witn}}>{{witn}}</option>
                </select>
            </td></tr>
            <tr><td>2.</td><td>
                <select id="cart-groups-new-weekday" [(ngModel)]="schedule.witn[1]">
                    <option></option>
                    <option *ngFor="let witn of witnesses" value={{witn}}>{{witn}}</option>
                </select>
            </td></tr>
            <tr><td>3.</td><td>
                <select id="cart-groups-new-weekday" [(ngModel)]="schedule.witn[2]">
                    <option></option>
                    <option *ngFor="let witn of witnesses" value={{witn}}>{{witn}}</option>
                </select>
            </td></tr>
            <tr><td>4.</td><td>
                <select id="cart-groups-new-weekday" [(ngModel)]="schedule.witn[3]">
                    <option></option>
                    <option *ngFor="let witn of witnesses" value={{witn}}>{{witn}}</option>
                </select>
            </td></tr>
        </tbody>
    </table>
    <button mat-button (click)="onClickRemove(schedule)">Удалить</button>
</div>
