<div class="cart-shift">
    <div>
        <span>Стенд</span>
        <select id="cart-groups-new-title" [(ngModel)]="schedule.cart">
            <option *ngFor="let cart of carts" value={{cart.name}}>{{cart.name}}</option>
        </select>
    </div>
    <div class="cart-shift-date">
        <span>День недели</span>
        <select id="cart-groups-new-weekday" [(ngModel)]="schedule.weekday">
            <option *ngFor="let day of scheduleWeek" value={{day}}>{{getWeekday(day)}}</option>
        </select>
    </div>
    <div class="cart-shift-time">
        <span>Время</span>
        <select id="cart-groups-new-time" [(ngModel)]="schedule.time">
            <option *ngFor="let time of times" value={{time.time}}>{{time.time}}</option>
        </select>
    </div>
    <table>
        <thead>
            <tr><th>#</th><th>Возвещатель</th></tr>
        </thead>
        <tbody>
            <tr><td>1.</td><td>
                <select id="cart-groups-new-weekday" [(ngModel)]="schedule.witn[0]">
                    <option *ngFor="let witn of witnesses" value={{witn}}>{{witn}}</option>
                </select>
            </td></tr>
            <tr><td>2.</td><td>
                <select id="cart-groups-new-weekday" [(ngModel)]="schedule.witn[1]">
                    <option *ngFor="let witn of witnesses" value={{witn}}>{{witn}}</option>
                </select>
            </td></tr>
            <tr><td>3.</td><td>
                <select id="cart-groups-new-weekday" [(ngModel)]="schedule.witn[2]">
                    <option *ngFor="let witn of witnesses" value={{witn}}>{{witn}}</option>
                </select>
            </td></tr>
            <tr><td>4.</td><td>
                <select id="cart-groups-new-weekday" [(ngModel)]="schedule.witn[3]">
                    <option *ngFor="let witn of witnesses" value={{witn}}>{{witn}}</option>
                </select>
            </td></tr>
        </tbody>
    </table>
    <button mat-button (click)="onClickSave()">Добавить</button>
</div>
