<div class="cart-shift">
    <div>
        <span>Стенд</span>
        <input id="cart-groups-new-title" type="text" [(ngModel)]="schedule.cart" />
    </div>
    <div class="cart-shift-date">
        <span>День недели</span>
        <select [(ngModel)]="schedule.weekday">
            <option *ngFor="let day of scheduleWeek" value={{day}}>{{getWeekday(day)}}</option>
        </select>
    </div>
    <div class="cart-shift-time">
        <span>Время</span>
        <span><input id="cart-groups-new-time" type="text" [(ngModel)]="schedule.time" /></span>
    </div>
    <table>
        <thead>
            <tr><th>#</th><th>Возвещатель</th></tr>
        </thead>
        <tbody>
            <tr><td>1.</td><td><input id="shift-1" type="text" [(ngModel)]="schedule.witn[0]" /></td></tr>
            <tr><td>2.</td><td><input id="shift-2" type="text" [(ngModel)]="schedule.witn[1]" /></td></tr>
            <tr><td>3.</td><td><input id="shift-3" type="text" [(ngModel)]="schedule.witn[2]" /></td></tr>
            <tr><td>4.</td><td><input id="shift-4" type="text" [(ngModel)]="schedule.witn[3]" /></td></tr>
        </tbody>
    </table>
    <button mat-button (click)="onClickSave()">Добавить</button>
</div>
