.cart-shift {
    background-color: #98d2c2;
    padding: 16px;   
    width: 280px; 
}

.cart-shift input, .cart-shift select {
    height: 24px;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}

.cart-shift table {
    width: 100%;
} 