div.cart-shift {
  width: 200px;
  font-size: 12px;
  background-color: lightgrey;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
}

div.cart-shift-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

div.cart-shift-date span:first-child {
  font-weight: bold;
  margin-right: 40px;
}

div.cart-shift-time {
}

th {
  text-align: center;
}

input {
  width: 100%;
}

table {
  width: 100%;
}
